<form ng-if="!projectsShow.findUsersTender(main.currentUser.id) && main.currentUser.is_dev" ng-submit="projectsShow.tenderCreate()">

  <label for="bid">Bid</label>
  <input type="number" id="bid" name="bid" ng-model="projectsShow.tender.bid">

  <label for="pitch">Pitch</label>
  <input type="text" id="pitch" name="pitch" ng-model="projectsShow.tender.pitch">

  <label for="image_src">Image Upload</label>
  <input type="text" id="image_src" name="image_src" ng-model="projectsShow.tender.image_src">

  <button class="button primary">Submit Offer</button>
</form>
