<!DOCTYPE html >
<div class="main">

  <div class="row">

    <div class="col s6 offset-s3 z-depth-1">

      <h1>Update your Profile</h1>
      <form ng-submit="profileEdit.update()">

        <div ng-if="profileEdit.user.is_dev === null">
          <h2> How would you like to use Justo? </h2>

          <h1>Update your Profile</h1>
          <form ng-submit="profileEdit.update()" name="auth.registerForm" novalidate>

            <div>
              <!--USERNAME INPUT  -->
              <label for="username">Username</label>
              <input type="text" name="username" id="username" ng-model="profileEdit.user.username" unique required>
              <!-- USERNAME VALIDATION/MESSAGES -->

              <!-- <div ng-messages="auth.registerForm.username.$error" ng-show="auth.registerForm.$submitted || auth.registerForm.username.$touched">
              <div ng-message="required" class="errorMessage">A username is required</div>
              <div ng-message="unique" class="errorMessage">Please choose a different username, this one was already been taken</div>
            </div> -->
          </div>

          <div class="row">
            <input class="hidden" type="radio" id="is_dev" name="is_dev" value="is_dev" ng-model="profileEdit.user.is_dev" data-ng-value="true">
            <label for="is_dev" class="col-sm-5 devOrNot text-center registerSelect cursor">


              <div class="devSelectImageOne"></div>
              Developer looking for work
            </label>

            <input class="hidden" type="radio" id="is_customer" name="is_customer" value="is_dev" ng-model="profileEdit.user.is_dev" data-ng-value="false">
            <label for="is_customer" class="col-sm-5 devOrNot registerSelect cursor">
              <div class="devSelectImageTwo"></div>
              Business looking for developers
            </label>
          </div>
        </div>

        <div class="">
          user
          {{ profileEdit.user }}
        </div>
        <div class="">
          current user
          {{ main.currentUser }}
        </div>

        <div>
          <!--USERNAME INPUT  -->
          <label for="username">Username</label>
          <input type="text" name="username" id="username" ng-model="profileEdit.user.username" unique required>
          <!-- USERNAME VALIDATION/MESSAGES -->

          <!-- <div ng-messages="auth.registerForm.username.$error" ng-show="auth.registerForm.$submitted || auth.registerForm.username.$touched">
          <div ng-message="required" class="errorMessage">A username is required</div>
          <div ng-message="unique" class="errorMessage">Please choose a different username, this one was already been taken</div>
        </div> -->
      </div>


      <!--FIRST NAME INPUT  -->
      <div>
        <label for="firstname">First Name</label>
        <input type="text" ng-model="profileEdit.user.firstname" name="firstname" id="firstname" required>
      </div>
      <!-- FIRST NAME VALIDATION/MESSAGES -->
      <!-- <div ng-messages="auth.registerForm.firstname.$error" ng-show="auth.registerForm.$submitted || auth.registerForm.firstname.$touched">
      <div ng-message="required" class="errorMessage">You forgot to provide us with you first name</div>
    </div> -->


    <!--LAST NAME INPUT  -->
    <div>
      <label for="lastname">Last Name</label>
      <input type="text" ng-model="profileEdit.user.lastname" name="lastname" id="lastname" required>
    </div>
    <!-- LAST NAME VALIDATION/MESSAGES -->
    <!-- <div ng-messages="auth.registerForm.lastname.$error" ng-show="auth.registerForm.$submitted || auth.registerForm.lastname.$touched">
    <div ng-message="required" class="errorMessage">You forgot to provide us with you last name</div>
  </div> -->


  <!--EMAIL INPUT  -->
  <div>
    <label for="email">Email</label>
    <input type="text" ng-model="profileEdit.user.email" name="email" id="email" required>
  </div>

  <div ng-if="main.currentUser.is_dev">

    <!--TECH STACK INPUT  -->
    <div>
      <label for="tech_stack">Tech Stack</label>
      <input type="text" ng-model="profileEdit.user.tech_stack" name="tech_stack" id="tech_stack">
    </div>

    <!--PORTFOLIO WEBSITE INPUT  -->
    <div>
      <label for="portfolio_url">Portfolio Site</label>
      <input type="text" ng-model="profileEdit.user.portfolio_url" name="portfolio_url" id="portfolio_url" required>
    </div>

    <!--LINKED IN INPUT  -->
    <div>
      <label for="linkedin_url">LinkedIn URL</label>
      <input type="text" ng-model="profileEdit.user.linkedin_url" name="linkedin_url" id="linkedin_url" required>
    </div>

    <!--GITHUB INPUT  -->
    <div>
      <label for="github_url">Github URL</label>
      <input type="text" ng-model="profileEdit.user.github_url" name="github_url" id="github_url" required>
    </div>

  </div>

  <!--IMAGE INPUT  -->
  <div>
    <label for="base64">Profile Picture</label>
    <input type="file" base64 ng-model="profileEdit.user.base64" name="base64" id="base64">
  </div>
  <!-- IMAGE VALIDATION/MESSAGES -->
  <!-- <div ng-messages="auth.registerForm.lastname.$error" ng-show="auth.registerForm.$submitted || auth.registerForm.lastname.$touched">
  <div ng-message="required" class="errorMessage">You forgot to provide us with you last name</div>
</div> -->


<button>Update your Profile</button>
</form>
</div>
</div>
</div>
