<div class="row justify-content-md-center">
  <div class="profileGreen col-10 justify-content-md-center">

    <a ng-if="main.currentUser.id === profile.user.id" ui-sref="profileEdit({ id: profile.user.id })" class="updateProfileButton">Update your profile</a>


    <div class="social">
      <ul>
        <li ng-if="profile.user.linkedin_url"><a href="{{ profile.user.linkedin_url }}" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li ng-if="profile.user.github_url"><a href="{{ profile.user.github_url }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="col-10">
    <div class="row marginBottomXLg">
      <div class="col-2">
        <img ng-src="{{ profile.user.image_src }}" class="profilePageImage">
      </div>
      <div class="col-4 profileName">
        <h1 class="marginBottomMd">{{ profile.user.firstname }} {{ profile.user.lastname }}</h1>
        <h6 ng-if="main.currentUser.is_dev">Skills: {{ profile.user.tech_stack }}</h6>
        <h6 ng-if="profile.user.portfolio_url"><a href="{{ profile.user.portfolio_url }}" target="_blank">{{profile.user.portfolio_url}}</a></h6>
      </div>

      <a ng-if="main.currentUser.id !== profile.user.id" ui-sref="conversations">Message {{profile.user.firstname}}</a>
    </div>
  </div>
</div>


<div class="row justify-content-md-center">
  <div class="col-5">

    <div ng-if="main.currentUser.is_dev">
      <h2>Current Bid <em ng-if="profile.user.tenders.length > 1">'s</em> made</h2>
      <div ng-repeat="tender in profile.user.tenders" class="profileCards shadow-1">
        <h2>{{ profile.projects[tender.project_id].title }}</h2>
        <p>Bid made: {{ tender.bid | currency : '£' : 0 }}</p>
        <p>Your pitch: {{ tender.pitch }}</p>
        <p>Current Status: {{ tender.status }}</p>
        <a ui-sref="projectsShow({ id: tender.project_id })">View project</a>
      </div>
    </div>

    <div ng-if="!main.currentUser.is_dev">
      <h2>Current Project <em ng-if="profile.user.projects.length > 1">'s</em> listed</h2>
      <div ng-repeat="project in profile.user.projects" class="profileCards shadow-1">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <p>{{ project.project_deadline | date }}</p>
        <p>{{ project.bid_deadline | amDifference : null : 'days' }} days </p>
        <p>{{ project.tech_stack }}</p>
        <p>{{ project.budget | currency : '£' : 0}}</p>
        <h5>You currently have {{ project.tenders.length }} bids on this project</h5>
          <a ui-sref="projectsShow({ id: project.id })" class="button primary">view project </a>
      </div>
    </div>

  </div>

  <div class="col-5">
    <h2>Reviews</h2>
    <div ng-if="profile.user.reviews_received.length === 0" class="profileCards shadow-1">
      <h1>You currently have no reviews</h1>
    </div>
    <div ng-repeat="review in profile.user.reviews_received" class="profileCards shadow-1">
      <p>{{ review.body }}</p>
      <p>Rating: {{ review.rating }}</p>
      <p>{{ review.creator.username }}</p>
    </div>

    <form ng-submit="profile.addReview()">
      <div class="form-group">
        <textarea placeholder="Write a user review" ng-model="profile.newReview.body" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="number" name="rating" ng-model="profile.newReview.rating" class="form-control">
        <button class="button primary marginTopMd">Post Review</button>
      </div>
    </form>
  </div>
</div>
