<!DOCTYPE html>
<div class="leftBlock">
  <a ui-sref="/" class="nav-logo-icon"></a>

  <div class="backgroundType">
  justo
  </div>

    <div class="homepageTitle">
        <div class="titleBig marginBottomLg ">The best Tech people, <br> for your tech projects </div>

  <div ui-sref="login" class="button primary marginRightSm cursor z-depth-5">Post a Job</div>

  <div class="button primary cursor z-depth-5" ui-sref="projectsIndex">Search for Jobs</div>

    </div>

  </div>

<div class="rightBlock">

</div>
