<h1>Edit Page</h1>
<form ng-submit="projectsEdit.update()">

{{ projectsEdit.project}}

  <label for="title">Title</label>
  <input type="text" id="title" name="title" ng-model="projectsEdit.project.title">

  <label for="description">Description</label>
  <input type="textarea" id="description" name="description" ng-model="projectsEdit.project.description">

  <label for="project_deadline">Deadline</label>
  <input type="date" id="project_deadline" name="project_deadline" ng-model="projectsEdit.project.project_deadline">


  <label for="bid_deadline">Bid Deadline</label>
  <input type="date" id="bid_deadline" name="bid_deadline" ng-model="projectsEdit.project.bid_deadline">


  <label for="tech_stack">Tech Stack</label>
  <input type="text" id="tech_stack" name="tech_stack" ng-model="projectsEdit.project.tech_stack">

  <label for="budget">Budget</label>
  <input type="text" id="budget" name="budget" ng-model="projectsEdit.project.budget">

  <label for="is_priority">
  <input type="checkbox" id="is_priority" name="is_priority" ng-model="projectsEdit.project.is_priority">
  Is Priority</label>

  <button>Update</button>

</form>
  <button ng-click="projectsEdit.delete()" >Delete</button>
