<!DOCTYPE html >
<h1>Projects Index Page</h1>


<div class="row">

  <div class="col s2 offset-s1">
    <div class="projectCards z-depth-1">
      <p>FILTER SOME STUFF</p>
    </div>
  </div>

  <div class="col s5">
    <div ng-if="project.is_priority == false" ng-repeat="project in projectsIndex.all" class="projectCards z-depth-1 cursor" ui-sref="projectsShow({ id: project.id })">

      <p class="marginBottomXXSm"> <span>Posted by</span> {{ project.user.username }} </p>
      <h2 class="marginBottomMd"> {{project.title }}</h2>

      <p class="marginBottomMd"> {{project.description | limitTo: 150 }}...</p>

      <p class="marginBottomSm"> <i class="tiny material-icons">alarm </i> <span>Deadline</span>{{project.project_deadline }}</p>



      <p class="marginBottomSm"> <i class="tiny material-icons">code</i>
        <span>Tech Stack</span>{{project.tech_stack }}</p>

      <p class="marginBottomSm"> <i class="tiny material-icons">monetization_on</i>
        <span>Budget</span>{{project.budget }}</p>

        <p class="marginBottomLg"> <i class="tiny material-icons">alarm </i>
          <span>Time left to tender</span> {{project.bid_deadline }}</p>

  </div>



<div class="col s3">
  <div ng-if="project.is_priority == true" ng-repeat="project in projectsIndex.all" class="projectCards z-depth-1">
    <span><p>Paid Post</p></span>
    <h2> {{project.title }}</h2>
    <p> {{project.description }}</p>
    <p> {{project.project_deadline }}</p>
    <p> {{project.bid_deadline }}</p>
    <p> {{project.tech_stack }}</p>
    <p> {{project.budget }}</p>
    <!-- <button ng-if="main.isAuthenticated()" ui-sref="projectsShow({ id: project.id })" class="button primary" >View</button> -->
  </div>
</div>
