<!DOCTYPE html>
<div class="main">
  <div class="row">

    <div class="col-sm-2">
      <div class="filter">
        <p>FILTER SOME STUFF</p>
        <div class="row">


          <i class="material-icons searchIcon">search</i>  <input ng-model="projectsIndex.q" type="text" name="" value="" class="search" palceholder="Seach...">
        </div>
        <div class="filters">

          <div class="range-slider">
            <input type="checkbox" id="budget" ng-model="projectsIndex.useBudget">
            <label for="budget">Budget less than {{ projectsIndex.budget | currency:'£':0 }}</label>
            <input class="range-slider__range" type="range" ng-model="projectsIndex.budget" step="2000" min="1000" max="100000" ng-disabled="!projectsIndex.useBudget">
          </div>

          <div class="range-slider">
            <input type="checkbox" id="bid_deadline" ng-model="projectsIndex.useDeadline">
            <label for="bid_deadline">Bid Deadline within {{ projectsIndex.bid_deadline }} days</label>
            <input class="range-slider__range" type="range" ng-model="projectsIndex.bid_deadline" min="0" max="180" ng-disabled="!projectsIndex.useDeadline">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div ng-if="!project.is_priority && project.is_active" ng-repeat="project in projectsIndex.filtered
      | filter: projectsIndex.lowerThan('budget', projectsIndex.budget)
      | filter: projectsIndex.dateFilter('bid_deadline', projectsIndex.bid_deadline)"
      class="projectCards z-depth-1 cursor" ui-sref="projectsShow({ id: project.id })">

      <p class="marginBottomXXSm">
        <span>Posted by</span> – {{ project.user.username }}
      </p>
      <h2 class="marginBottomMd">{{project.title }}</h2>

      <p class="marginBottomMd">{{project.description | limitTo: 150 }}...</p>

      <p class="marginBottomSm">
        <span>Project Deadline</span> – {{project.project_deadline | date}}
      </p>



      <p class="marginBottomSm">
        <span>Budget</span> – {{ project.budget | currency : '£' : 0 }}</p>

        <p class="marginBottomSm">
          <span>Time left to submit a bid</span> – {{ project.bid_deadline | amDifference : null : 'days' }} days</p>

      <div class="techStackTags marginBottomMd">
        <p class="marginBottomSm"> <span>Tech Stack Needed</span></p>
        <span class="tech-tag" ng-repeat="tech in project.tech_stack.split(',')">
          {{ tech }}</span>
        </div>

      </div>
    </div>


    <div class="col-sm-3">
      <div ng-if="project.is_priority && project.is_active " ng-repeat="project in projectsIndex.all" class=" projectCards cursor" ui-sref="projectsShow({ id: project.id })">

        <p class=" marginBottomSm paidPost">Advertisment</p>

          <h2 class="marginBottomMd marginTopMd">{{project.title }}</h2>
          <p class="marginBottomMd">{{project.description }}</p>
          <p class="marginBottomMd"><span> Budget – </span> {{project.budget | currency : '£' : 0 }}</p>
          <p class="marginBottomSm"> <span>Tech Stack Needed</span></p>
          <p class="marginBottomMd"><span class="tech-tag" ng-repeat="tech in project.tech_stack.split(', ')"> {{ tech }}</span></p>


      </div>
    </div>
  </div>
</div>
