<!DOCTYPE html >
<div class="main">

  <div class="row marginTopMd">
    <div class="col-10 offset-md-1">

      <p ng-if="main.currentUser.id === projectsShow.project.user.id" class="marginBottomMd"><span>You </span> posted</p>
      <h1 class="projectShowTitle"> {{ projectsShow.project.title }}</h1>
      <p ng-if="main.currentUser.id !== projectsShow.project.user.id" >Posted by <span> <a ui-sref="profile({ id: projectsShow.project.user.id })" class="marginBottomMd"> {{ projectsShow.project.user.username }} </a></span></p>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-5 marginTopLg">

      <h2> Details </h2>

      <div class="projectInfo  projectCards">

        <div class="techStackTags marginBottomMd">
          <p class="marginBottomSm"> <span>Tech Stack</span></p>
          <span class="tech-tag" ng-repeat="tech in projectsShow.project.tech_stack.split(',')">
            {{ tech }} </span>
          </div>

          <p class="marginBottomMd">{{ projectsShow.project.description }}</p>


          <p><span> Project deadline: </span> {{ projectsShow.project.project_deadline | date }}</p>
          <p><span> Time left to bid: </span>{{ projectsShow.project.bid_deadline | amDifference : null : 'days' }} days </p>

          <p><span> Budget: </span>{{ projectsShow.project.budget | currency : '£' : 0}}</p>
          <br>

          <button ng-click="projectsShow.contactCreator(main.currentUser.id, projectsShow.project.user.id)" class="button primary" ng-if="main.currentUser.id !== projectsShow.project.user.id">
            Message {{ projectsShow.project.user.username}}</button>

            <button class="button primary" ui-sref="projectsEdit({ id: projectsShow.project.id})" ng-if="main.currentUser.id === projectsShow.project.user.id">Edit Post</button>
          </div>
        </div>

        <div class="col-5 marginTopLg">
          <div ng-if="!projectsShow.findUsersTender(main.currentUser.id) && main.currentUser.is_dev" class="projectCards">

            <form ng-submit="projectsShow.tenderCreate()">

              <h3 ng-if="main.currentUser.id === tender.user.id ">There are currently {{ projectsShow.project.tenders.length }} bids on this project, make your offer here...</h3>

              <div class="form-group">
                <label for="bid">Bid</label>
                <input type="number" id="tenderBid" name="tenderBid" ng-model="projectsShow.tender.bid" class="form-control">
              </div>
              <div class="form-group">
                <label for="pitch">Pitch</label>
                <input type="text" id="tenderPitch" name="tenderPitch" ng-model="projectsShow.tender.pitch" class="form-control">
              </div>
              <button class="button primary">Submit Offer</button>
            </form>
          </div>


          <h3 ng-if="main.currentUser.id === project.user.id || main.currentUser.is_dev === false">There are currently {{ projectsShow.project.tenders.length }} bids on this project.</h3>

          <div ng-repeat="tender in projectsShow.project.tenders"  id="noPaddingBottom" ng-model="projectsShow.project.tenders">
            <h2 ng-if="main.currentUser.id === tender.user.id ">Your current bid</h2>


            <div class="tenderInfo projectCards">


              <h2 ng-if="main.currentUser.id !== tender.user.id " class="marginBottomMd">{{ tender.user.firstname }}'s offer</h2>



              <p class="rating_text">Developer's Average Rating:</p>
              <p ng-if="tender.user.average_rating === null">This user has no current rating</p>
              <span uib-rating ng-if="tender.user.average_rating > 0" ng-model="tender.user.average_rating" max="10" read-only="!isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>

              <h5>{{ tender.bid  | currency : '£' : 0 }}</h5>
              <p class="marginBottomMd">{{ tender.pitch }}</p>
              <hr>
              <div ng-class="{pending:tender.status === 'pending', rejected:tender.status === 'rejected', accepted:tender.status === 'accepted'}" class="marginBottomMd"> Status – {{ tender.status }} </div>

              <button ng-if="main.currentUser.id === tender.user.id"  ng-click="projectsShow.show = 1" class=" button primary marginTopMd">Alter your bid</button>

              <button ng-if="main.currentUser.id === tender.user.id" ng-click="projectsShow.delete(tender)" class="button danger marginBottomMd" >Retract your bid</button>

              <div ng-show="projectsShow.show == 1">
                <form ng-submit="projectsShow.tenderUpdate()">

                  <div class="form-group">
                    <label for="bid">Bid</label>
                    <input type="number" id="bid" name="bid" class=
                    "form-control" ng-model="tender.bid">
                  </div>

                  <div class="form-group">
                    <label for="pitch">Pitch</label>
                    <textarea type="text" id="pitch" class="form-control" name="pitch" ng-model="tender.pitch"></textarea>
                  </div>

                  <button class="button primary">Submit Offer</button>
                  <button ng-click="projectsShow.show = 0" class="button secondary">Cancel</button>
                </form>
              </div>
            </div>


            <div class="row justify-content-center">


              <div ng-if="main.currentUser.id === projectsShow.project.user.id && tender.status === 'pending'" ng-click="projectsShow.acceptBid(tender.id) ; contactCreator(main.currentUser.id, projectsShow.tender.user.id)" class="cursor justify-content-center acceptBox">

                <div class="bidAccept">
                  <i class="material-icons">done</i>
                </div>
                <h4 class="text-center">Accept this bid</h4>
              </div>

              <div ng-if="main.currentUser.id === projectsShow.project.user.id && tender.status !== 'accepted' && tender.status !== 'rejected'" ng-click="projectsShow.delete(tender)" class="cursor acceptBox">


                <div class="bidReject">
                  <i ng-click="projectsShow.open(tender)" class="material-icons">clear</i>
                </div>
                <h4  class="text-center">Reject this bid</h4>
              </div>
              <h4 class="text-center">Reject this bid</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
