<!DOCTYPE html >
<div class="main">

  <div class="container marginTopXLg">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <h1> Log in </h1>
        <p ng-show="main.message" class="alert alert-danger">{{ main.message }}</p>

        <form ng-submit="auth.login()">

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" ng-model="auth.credentials.email">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="auth.credentials.password">
          </div>

          <button class="col-12 marginBottomSm button primary">Login</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-md-center">

    <button ng-click="auth.authenticate('github')" class="marginRightSm button github"><i class="fa fa-github-square marginRightXSm" aria-hidden="true"></i>
      Login with GitHub</button>

    <button ng-click="auth.authenticate('facebook')" class=" button facebook"><i class="fa fa-facebook-official marginRightXSm" aria-hidden="true"></i> Login with Facebook</button>
  </div>

    <div class="row justify-content-md-center marginTopMd
    ">
    <p class="col-3"> Dont have an account? <a ui-sref="register">Sign up here</a></p>
  </div>


  </div>
</div>
