<!DOCTYPE html>
<html ng-app="justo">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Justo</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">

  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-controller="MainCtrl as main">

  <nav ng-if="!main.isHome" class="">

    <a ui-sref="/" class="nav-logo"></a>

    <ul id="nav-mobile" class="right ">
      <li><a ui-sref="projectsIndex">Projo index</a></li>

      <li ng-if="main.isAuthenticated()"><a ui-sref="projectsNew">Project New</a></li>

      <li ng-if="main.isAuthenticated()"><a ui-sref="profile({ id: main.currentUser })">{{ main.currentUser.username }} </a></li>
      <img ng-src="{{ }}" alt="profile.user.imageSRC" class="NavProfileImage">

      <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>

      <li ng-if="!main.isAuthenticated()"><a ui-sref="register" >Register</a></li>
      <!-- <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="/">Logout</a></li> -->
    </ul>
  </nav>



  <main ui-view>
    {{main}}
  </main>

</body>
</html>
