<!DOCTYPE html>
<html ng-app="justo">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Justo</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main" >
  <nav>
    <li> <a ui-sref="projectsIndex">Projo index</a> </li>
    <li ng-if="main.isAuthenticated()"> <a ui-sref="projectsNew" >Project New</a></li>
    <li ng-if="main.isAuthenticated()"> <a ui-sref="profile({ id: main.currentUser })" > Profile </a></li>
    <li ng-if="!main.isAuthenticated()"> <a ui-sref="login">Login</a></li>
    <li ng-if="!main.isAuthenticated()"> <a ui-sref="register" >Register</a></li>
    <li ng-if="main.isAuthenticated()"> <a ng-click="main.logout()" href="#">Logout</a></li>
  </nav>


<main ui-view>
  {{main}}
</main>

  </body>
</html>
