@import 'reset-css/reset';
@import 'bootstrap/bootstrap';

// SASS COLOUR SCHEME
$error: red;
$textColor: #4b5961;
$highlight: #8AEC75;
$borderColor: #ececec;

//OVERALL STYLES
*{
  font-family: 'Raleway', sans-serif;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

#greyText{
  color: $borderColor;
}

#zero{
  margin: 0px;
  padding: 0px;
}

.main{
  margin-top: 80px;
}

main {
  .errorMessage {
    padding:-10px;
    color: $error;
  }
}

#center{
  margin: 0 auto;
}

.cursor{
  cursor: pointer;
}

// SNAZZY LINIKS

.nav-button a {
  background-image: linear-gradient(180deg,transparent 65%, $highlight 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-size .4s ease;
  transition: background-size .4s ease;
}

.nav-button a:hover {
  background-size: 100% 100%;
  cursor: pointer;
  color: #000;
}


//FONT STYLES
.titleBig{
  font-size: 64px;
}

h1{
  font-size: 42px;
  color: $textColor;
}

h2{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: $textColor;
}

h4{
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 500;
  color: $textColor;
}

span{
  font-weight: bolder;
}

p{
  margin: 0px;
  color: $textColor;
}


//GENERAL STYLES

.text-center{
  text-align: center;
}
.marginTopXXLg{
  margin-top: 100px;
}

.marginTopLg{
  margin-top: 48px;
}

.marginTopMd{
  margin-top: 24px;
}

.marginBottomLg{
  margin-bottom: 48px;
}

.marginBottomMd{
  margin-bottom: 16px;
}

.marginBottomSm{
  margin-bottom: 8px;
}

.marginBottomXXSm{
  margin-bottom: 4px;
}


.marginRightSm{
  margin-right: 16px;
}

.marginCenter{
  margin: 0 auto;
}

.right{
  float: right;
}

.left{
  float: left;
}

.button{
  background-color: white;
  padding: 8px 32px;
  border-radius: 100px;
  width: 200px;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.primary{
  background-color: $highlight;
  color: white;
  &.primary:hover {
    background-color: darken($highlight, 20%);
  }
}

//NAV STYLES

nav{
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid $borderColor;
  color: $textColor;
  height: 48px;
  padding: 16px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  z-index: 50;
}

.nav-logo-icon{
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url("https://image.ibb.co/c2XYX5/logo.png");
  background-repeat: none;
  background-size: contain;
  background-position: center;
}

.nav-logo {
  position: absolute;
  height: 32px;
  width: 32px;
  background-image: url("https://image.ibb.co/c2XYX5/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.nav-logo-home{
  position: fixed;
  margin: 0px 16px
}

.nav-logo{
  position: fixed;
  margin: 0px 16px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bolder;
  color: $highlight;
}

nav ul li{
  display: inline-block;
  padding: 0px 8px;
  color: $textColor;

}
nav ul li a{
  color: $textColor;
}

.NavProfileImage{
  background-color: $borderColor;
  height: 24px;
  width: 24px;
  border-radius: 24px;
}
//HOME PAGE STUFF

.backgroundType{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 130px;
  font-weight: 900;
  position: fixed;
  top: 30%;
  left: 2%;
  opacity: 0.1;
}

.leftBlock{
  width:50%;
  height: 100vh;
  float: left;
  padding: 24px 24px;
}

.rightBlock{
  width: 50%;
  height: 100vh;
  float: right;
  background-color: dodgerblue;
  background-image: url("https://image.ibb.co/ezztFQ/homepage1.gif");
  background-position: center;
}

.homepageTitle{
  text-align: left;
  margin: 0px 40px;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

//INDEX STYLES

.filter{
  position: fixed;
  margin: 16px 0px;
  padding: 16px;
  word-wrap: break-word;
  background-color: #212329;
  color: $highlight;
  height: 100vh;
  width: 15%;
  top: 48px;
}

.projectCards{
  margin: 16px 0px;
  padding: 16px;
  word-wrap: break-word;
  border-bottom: 1px solid $borderColor;
  &.projectCards:hover{
  }
}

.paidImage{
  width: 100%;
  height: 100px;
  object-fit: cover;
}


.paidPost{
  float: right;

}

.sticky{
  position: fixed;
  left: 90%;

}

//FORMS

.newForm {

}

//PROJECT SHOW

.conversationsList{
  border-bottom: 1px solid $borderColor;
  padding: 16px;
  margin: 16px 0px 8px 0px;
  &.conversationsList:hover{
    background-color: $borderColor;
  }
}

.projectInfo{
  word-wrap: break-word;
}

//MESSAGES

.body{
  display: block;
}

.small{
  font-size: 10px;
  color: $borderColor;
  float: right;
  margin-left: 100px;
  display: block;
}

.chatBoxBounding{
  height: 87vh;
  overflow: hidden;
  padding: 0px;
}

.center{
  text-align: center;
}

.messageScroll{
  overflow: auto;
  height: inherit;
  height: 76vh;
  // background-color: yellow;
}

.noShowChat{
  background-color: #f5f5f7;
}

.noShowChatContent{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noChatImage{
  margin: 0 auto;
  height: 300px;
  width: 400px;
  border-radius: 200px;
  background-image: url("https://preview.ibb.co/j7xfFQ/chat.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.messageside{
  background-color: #f5f5f7;
  margin: 0px;
  padding: 0px;
  &p{
    padding: 0px;
  }
}
.shadow-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.chatInput{
  background-color: white;
  position: absolute;
  bottom: 0;
  padding: 0px;
  margin: 0p;
}

.chatList{
  background-color: white;
  padding: 0px 0px;
  height: 87vh;
  box-shadow: 6px 4px 12px -8px #d6d6d6;
  z-index: 5;
}

.chatHeading{
  padding: 24px 16px;
  background-color: $highlight;
}

#chatSidebarMessages{
  padding: 16px 0px;
  background-color: white;
  word-wrap: break-word;
  &#chatSidebarMessages:hover {
    background-color: #efefef;
  }
}

.chatPadding{
  padding: 16px;
}

.marginZero{
  margin-bottom: 0px;
}

.speech-bubble-row {
  overflow: hidden;
}

.speech-bubble-received {
  color: black;
  background-color: white;
  padding: 8px 16px;
  border-radius: 0px 14px 14px 14px;
  margin: 16px 16px;
  max-width: 60%;
  display: inline-block;
  word-wrap: break-word;
}

.speech-bubble-sent {
  max-width: 60%;
  color: black;
  background-color: $highlight;
  padding: 8px 16px;
  border-radius: 14px 0px 14px 14px;
  margin: 16px 16px;
  display: inline-block;
  float: right;
  word-wrap: break-word;
}


.chatProfileImage{
  background-color: $borderColor;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

.chatTextBox{
  border: 1px solid $borderColor;
  border-radius: 4px;
  height: 42px;
}

.chatSubmit{
  background-color: white;
  border: none;
  color: $highlight;
  &.chatSubmit:hover{
    color: darken($highlight, 20%)
  }
}

.iconLarge{
  margin-top:8px;
  font-size: 32px;
}


// register

.devOrNot{
  border: 1px solid $borderColor;
  margin: 24px 8px 16px 8px;
}

input[type="radio"]{
  display: none;
}

input[type=radio]:checked + label {
  background-color: #ececec;
}

.registerSelect{
  padding: 16px;
  &.registerSelect:hover{
    background-color: $borderColor;
  }
}

#is_dev{
  background-color: red;
  position: absolute;
}

.devSelectImageOne{
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  // background-color: red;
  background-image: url("https://image.ibb.co/dn0825/Screen_Shot_2017_07_25_at_10_28_21.png");
  background-position: center;
  background-size: contain;
}

.devSelectImageTwo{
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  // background-color: red;
  background-image: url("https://image.ibb.co/g13BN5/Screen_Shot_2017_07_25_at_10_25_51.png");
  background-position: center;
  background-size: contain;
}
