@import 'reset-css/reset';
@import 'materialize-src/sass/materialize';

// SASS COLOUR SCHEME
$error: red;
$textColor: black;
$highlight: #8AEC75;

//OVERALL STYLES
*{
  font-family: 'Raleway', sans-serif;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}

#greyText{
  color: lightgrey;
}

#zero{
  margin: 0px;
  padding: 0px;
}

main {
  .errorMessage {
    padding:-10px;
    color: $error;
  }
}

.cursor{
  cursor: pointer;
}

// SNAZZY LINIKS

.nav-button a {
  background-image: linear-gradient(180deg,transparent 65%, $highlight 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-size .4s ease;
  transition: background-size .4s ease;
}

.nav-button a:hover {
  background-size: 100% 100%;
  cursor: pointer;
  color: #000;
}


//FONT STYLES
.titleBig{
  font-size: 64px;
}

h1{
  font-size: 42px;
}

h2{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

h4{
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 500;
}

span{
  font-weight: bolder;
}

small{
  font-size: 10px;
  color: lightgrey;
  float: right;
  margin-left: 100px;
}


//GENERAL STYLES
.marginTopXXLg{
  margin-top: 100px;
}

.marginTopLg{
  margin-top: 48px;
}

.marginBottomLg{
  margin-bottom: 48px;
}

.marginBottomMd{
  margin-bottom: 16px;
}

.marginBottomSm{
  margin-bottom: 8px;
}

.marginBottomXXSm{
  margin-bottom: 4px;
}


.marginRightSm{
  margin-right: 16px;
}

.marginCenter{
  margin: 0 auto;
}

.right{
  float: right;
}

.left{
  float: left;
}

.button{
  background-color: white;
  padding: 16px 32px;
  border-radius: 100px;
  width: 200px;
  text-align: center;
  display: inline-block;
}

.primary{
  background-color: $highlight;
  color: white;
  &.primary:hover {
    background-color: darken($highlight, 20%);
  }
}

//NAV STYLES

nav{
  // position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: $textColor;
  min-height: 48px;
  padding: 16px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.nav-logo-icon{
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url("https://image.ibb.co/c2XYX5/logo.png");
  background-repeat: none;
  background-size: contain;
  background-position: center;
}

.nav-logo{
  position: absolute;
  height: 32px;
  width: 32px;
  background-image: url("https://image.ibb.co/c2XYX5/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.nav-logo-home{
  position: fixed;
  margin: 0px 16px
}

.nav-logo{
  position: fixed;
  margin: 0px 16px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bolder;
  color: $highlight;
}

nav ul li{
  display: inline-block;
  padding: 0px 8px;
  color: $textColor;

}
nav ul li a{
  color: $textColor;
}

.NavProfileImage{
  background-color: lightgrey;
  height: 24px;
  width: 24px;
  border-radius: 24px;
}
//HOME PAGE STUFF

.backgroundType{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 130px;
  font-weight: 900;
  position: fixed;
  top: 30%;
  left: 2%;
  opacity: 0.1;
}

.leftBlock{
  width:50%;
  height: 100vh;
  float: left;
  padding: 24px 24px;
}

.rightBlock{
  width: 50%;
  height: 100vh;
  float: right;
  background-color: dodgerblue;
  background-image: url("https://image.ibb.co/ezztFQ/homepage1.gif");
  background-position: center;
}

.homepageTitle{
  text-align: left;
  margin: 0px 40px;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}



//INDEX STYLES

.filter{
  margin: 16px 0px;
  padding: 16px;
  word-wrap: break-word;
}

.projectCards{
  margin: 16px 0px;
  padding: 16px;
  word-wrap: break-word;
  &.projectCards:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease;
  }
}

.paidImage{
  width: 100%;
  height: 100px;
  object-fit: cover;
}


.paidPost{
  float: right;

}

.sticky{
  position: fixed;
  left: 90%;

}

//FORMS

.newForm {

}

//PROJECT SHOW

.conversationsList{
  border-bottom: 1px solid lightgrey;
  padding: 16px;
  margin: 16px 0px 8px 0px;
  &.conversationsList:hover{
    background-color: lightgrey;
  }
}

.projectInfo{
  word-wrap: break-word;
}

//MESSAGES

.chatBoxBounding{
  position: relative;
  margin-top: 24px;
  height: 90vh;
  width: 85%;
  margin: 0 auto;
  background-color: #f1ffee;
}

.scroll{
  max-height: 84%;
    overflow: auto;
}

#chatList{
  background-color: white;
  padding: 0px 0px;
  height: 90vh;
  box-shadow: 6px 4px 12px -8px #d6d6d6;
  z-index: 5;
  position: relative;
}

.chatHeading{
  padding: 24px 16px;
  background-color: lightgrey;
}

#chatSidebarMessages{
  padding: 16px 0px;
  background-color: white;
  &#chatSidebarMessages:hover {
    background-color: #efefef;
  }
}

.chatPadding{
  padding: 16px;
}

.chatInput{
  background-color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;

}

.marginZero{
  margin-bottom: 0px;
}

.speech-bubble-received {
  max-width: 60%;
  position: relative;
  color: black;
  background-color: $highlight;
  padding: 8px 16px;
  border-radius: 14px 0px 14px 14px;
  margin: 16px 16px;
  float: right;
}

.speech-bubble-sent {
  max-width: 60%;
  position: relative;
  color: black;
  background-color: white;
  padding: 8px 16px;
  border-radius: 2px 14px 14px 14px;
  margin: 16px 16px;
  float: left;
}

.chatProfileImage{
  background-color: lightgrey;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}
