@import 'reset-css/reset';
@import 'bootstrap/bootstrap';
@import 'partials/modal';
@import 'partials/glyphicon';

// SASS COLOUR SCHEME
$error: red;
$textColor: #4b5961;
$highlight: #8AEC75;
$borderColor: #ececec;
$danger: red;
//OVERALL STYLES
*{
  font-family: 'Raleway', sans-serif;
}



#greyText{
  color: grey;
}

h3{
  color: $textColor
}

textarea{
  font-family: 'Raleway', sans-serif;
}
  
#zero{
  margin: 0px;
  padding: 0px;
}

.main{
  margin-top: 64px;
  padding-top: 8px;
  background-color: #fafafa;
  height: 100vh;
}

button{
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: $textColor;
}

a:hover{
  text-decoration: none;
  color: $highlight;
}


main {
  .errorMessage {
    padding:-10px;
    color: $error;
  }
}
body{
  background-color: #fafafa;
}
#center{
  margin: 0 auto;
}

.cursor{
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 50px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: right;
}

// SNAZZY LINIKS

.nav-button a {
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-size .4s ease;
  transition: background-size .4s ease;
}

.nav-button a:hover {
  background-size: 100% 100%;
  cursor: pointer;
  color: $highlight;
}

.MessageNumber{
  position: absolute;
  right: 63px;
  top: 17px;
  background-color: red;
  color: white;
  height: 13px;
  width: 0px;
  line-height: 1.2;
  font-size: 10px;
  border-radius: 100px;
  padding-left: 4px;
  padding-right: 9px;
  padding-top: 0px;
  font-weight: bolder;
}



//FONT STYLES
.titleBig{
  font-size: 64px;
}

h1{
  font-size: 42px;
  color: $textColor;
}

h2{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: $textColor;
}

h4{
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 500;
  color: $textColor;
}

span{
  font-weight: bolder;
}

p{
  margin: 0px;
  color: $textColor;
}


//GENERAL STYLES

.text-center{
  text-align: center;
}
.marginTopXXLg{
  margin-top: 100px;
}
.marginTopXLg{
  margin-top: 62px;
}

.marginTopLg{
  margin-top: 48px;
}

.marginTopMd{
  margin-top: 24px;
}

.marginBottomLg{
  margin-bottom: 48px;
}

.marginBottomXLg{
  margin-bottom: 64px;
}

.marginBottomMd{
  margin-bottom: 16px;
}

.marginBottomSm{
  margin-bottom: 8px;
}

.marginBottomXXSm{
  margin-bottom: 4px;
}


.marginRightSm{
  margin-right: 16px;
}
.marginRightXSm{
  margin-right: 8px;
}

.marginCenter{
  margin: 0 auto;
}

.right{
  float: right;
}

.left{
  float: left;
}

.button{
  font-family: 'Raleway', sans-serif;
  background-color: white;
  padding: 4px 32px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;

}

.primary{
  background-color: $highlight;
  color: white;
  &.primary:hover {
    background-color: darken($highlight, 20%);
    text-decoration: none;
    color: white;
  }
}

.secondary{
  background-color: $borderColor;
  color: $textColor;
  &.secondary:hover {
    background-color: darken($borderColor, 20%);
    text-decoration: none;
    color: $textColor;
  }
}

.danger {
  background-color: $danger;
  color: white;
  &.secondary:hover {
    background-color: darken($danger, 10%);
    text-decoration: none;
    color: white;
  }
}

.facebook{
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px;
  &.facebook:hover {
    background-color: darken(#3b5998, 10%);

  }
}
.github{
  background-color: #24292e;
  color: white;
  border: none;
  border-radius: 4px;
  &.github:hover {
    background-color: lighten(#24292e, 10%);

  }
}

//NAV STYLES

nav{
  position: fixed;
  top: 0;
  background-color: white;
  // border-bottom: 1px solid $borderColor;
  color: $textColor;
  height: 64px;
  padding: 16px 16px 24px 16px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  z-index: 50;
  // box-shadow: -4px -7px 13px 8px rgba(0, 0, 0, 0.2);
}

.nav-logo-icon{
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url("https://image.ibb.co/c2XYX5/logo.png");
  background-repeat: none;
  background-size: contain;
  background-position: center;
}

.nav-logo {
  position: absolute;
  height: 32px;
  width: 32px;
  background-image: url("https://image.ibb.co/c2XYX5/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.nav-logo-home{
  position: fixed;
  margin: 0px 16px
}

.nav-logo{
  position: fixed;
  margin: 0px 16px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bolder;
  color: $highlight;
}

nav ul li{
  display: inline-block;
  padding: 0px 8px;
  color: $textColor;

}
nav ul li a{
  color: $textColor;
}
.chatIcon{
  position: relative;
  top: 5px;
}
.whoChat{
  width: 100%;
  background-color: $highlight;
  height: 64px;
  color: white;
}
.NavProfileImage{
  background-color: $borderColor;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  margin-bottom: 16px;
  position: relative;
  top: 5px;
}

.NavProfileImageChat{
  background-color: $borderColor;
  height: 32px;
  width: 32px;
  border-radius: 24px;
  display: inline-block;
  margin-right: 16px;

}
//HOME PAGE STUFF

.backgroundType{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 130px;
  font-weight: 900;
  position: fixed;
  top: 30%;
  left: 2%;
  opacity: 0.1;
}

.leftBlock{
  width:50%;
  height: 100vh;
  float: left;
  padding: 24px 24px;
}

.rightBlock{
  width: 50%;
  height: 100vh;
  float: right;
  background-color: dodgerblue;
  background-image: url("https://image.ibb.co/ezztFQ/homepage1.gif");
  // background-image: url("https://image.ibb.co/kpMgpk/nimesh_boom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.homepageTitle{
  text-align: left;
  margin: 0px 40px;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

//INDEX STYLES

.tech-tag{
  background-color: $highlight;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 400;
  padding: 4px 8px;
  margin-right: 8px;
  color: white;
}

.filter{
  position: fixed;
  margin: 16px 0px;
  padding: 16px;
  word-wrap: break-word;
  background-color: #212329;
  color: $highlight;
  height: 100vh;
  width: 15%;
  top: 48px;
}
.bidAccepted {
  border: 1px solid $highlight;
}

.projectCards{
  margin: 16px 0px;
  padding: 16px;
  word-wrap: break-word;
  background-color: white;
  border: 1px solid #efefef;

  .projectShowTitle{
    text-align: left;
  }


  &.projectCards:hover{
  }
}

.paidImage{
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.projectShowImage{
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
  display: inline-block;
}

.tenderShowImage{
  position: relative;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 48px;
  object-fit: cover;
  display: inline-block;
}


.paidPost{
  float: right;
  display: block;
  color: $highlight;
}

.sticky{
  position: fixed;
  left: 90%;

}

//FORMS

.newForm {

}

//PROJECT SHOW

.pending {
  color: lightblue
}
.accepted {
  color: $highlight
}
.rejected {
  color: $danger
}

.conversationsList{
  border-bottom: 1px solid $borderColor;
  padding: 16px;
  margin: 16px 0px 8px 0px;
  &.conversationsList:hover{
    background-color: $borderColor;
  }
}

.projectInfo{
  word-wrap: break-word;
}

//MESSAGES

.body{
  display: block;
}

.small{
  font-size: 10px;
  color: $borderColor;
  float: right;
  margin-left: 100px;
  display: block;
}

.chatBoxBounding{
  height: 87vh;
  overflow: hidden;
  padding: 0px;
  margin-top: 22  px;
}
.read{
  margin-left: 8px;
  height: 16px;
  width: 16px;
  // background-color: red;
  float: right;
  background-image: url("https://image.ibb.co/nR09AQ/ic_done_all_white_18dp_2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.notRead{
  margin-left: 8px;
  height: 16px;
  width: 16px;
  // background-color: blue
  float: right;
  background-image: url("https://image.ibb.co/inSBPk/ic_done_white_18dp_2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.center{
  text-align: center;
}

.messageScroll{
  overflow: auto;
  height: inherit;
  height: 76vh;
  // background-color: yellow;
}

.noShowChat{
  background-color: #f5f5f7;
}

.noShowChatContent{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noChatImage{
  margin: 0 auto;
  height: 300px;
  width: 400px;
  border-radius: 200px;
  background-image: url("https://preview.ibb.co/j7xfFQ/chat.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.messageside{
  background-color: #f5f5f7;
  margin: 0px;
  padding: 0px;
  &p{
    padding: 0px;
  }
}
.shadow-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.chatInput{
  background-color: white;
  position: absolute;
  bottom: 0;

  margin: 0p;
}

.chatList{
  background-color: white;
  padding: 0px 0px;
  height: 87vh;
  box-shadow: 6px 4px 12px -8px #d6d6d6;
  z-index: 5;
}

.chatHeading{
  padding: 16px 16px 8px 16px;
  background-color: $highlight;
  color: white;
  text-decoration: none;

}
.chatName{
  color: white;
  text-decoration: none;
  cursor: pointer;
  &.chatName:hover{
    text-decoration: none;
    color: white;
  }
}

#chatSidebarMessages{
  height: 100px;
  padding: 16px 0px;
  background-color: white;
  word-wrap: break-word;
  border-bottom: 1px solid #f2f2f2;
  &#chatSidebarMessages:hover {
    background-color: #f9f9f9;
  }
}
.newMessage{
  color: $highlight;
  display: inline-block;
}
.chatPadding{
  padding: 16px 0px 30px 40px;
}

.marginZero{
  margin-bottom: 0px;
}

.speech-bubble-row {
  overflow: hidden;
}

.speech-bubble-received {
  color: black;
  background-color: white;
  padding: 8px 16px;
  border-radius: 0px 14px 14px 14px;
  margin: 16px 16px;
  max-width: 60%;
  display: inline-block;
  word-wrap: break-word;
}

.speech-bubble-sent {
  max-width: 60%;
  color: black;
  background-color: $highlight;
  padding: 8px 16px;
  border-radius: 14px 0px 14px 14px;
  margin: 16px 16px;
  display: inline-block;
  float: right;
  word-wrap: break-word;
}


.chatProfileImage{
  background-color: $borderColor;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

.chatTextBox{
  border: 1px solid $borderColor;
  border-radius: 4px;
  height: 42px;
}

.chatSubmit{
  background-color: white;
  border: none;
  color: $highlight;
  &.chatSubmit:hover{
    color: darken($highlight, 20%)
  }
}

.iconLarge{
  margin-top:8px;
  font-size: 32px;
  position: relative;
  top: 10px;

}


// register

.devOrNot{
  border: 1px solid $borderColor;
  margin: 24px 8px 16px 8px;
}

input[type="radio"]{
  display: none;
}

input[type=radio]:checked + label {
  background-color: #ececec;
}

.registerSelect{
  padding: 16px;
  &.registerSelect:hover{
    background-color: $borderColor;
  }
}

#is_dev{
  background-color: red;
  position: absolute;
}

.devSelectImageOne{
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  // background-color: red;
  background-image: url("https://image.ibb.co/dn0825/Screen_Shot_2017_07_25_at_10_28_21.png");
  background-position: center;
  background-size: contain;
}

.devSelectImageTwo{
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  // background-color: red;
  background-image: url("https://image.ibb.co/g13BN5/Screen_Shot_2017_07_25_at_10_25_51.png");
  background-position: center;
  background-size: contain;
}

//Profile Page
.chatIconProfile{
  position: absolute;
  top: 10px;
  top: 2px;
    left: -32px;
}
.messageUser{
  position: absolute;
  top: -39px;
  right: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  &.messageUser:hover{
    color: darken(white, 2%);
    text-decoration: none;
  }
}

.profilePageImage{
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: -110px;
  left: 50px;
  border: 4px solid white;
  border-radius: 4px;
}

.profileGreen{
  height: 300px;
  width: 84%;
  background-color: $highlight;
  margin: 0 auto;
}

.profileName{
  position: relative;
  left: 10%;
  top: -50px;
}

.updateProfileButton{
  border: 1px solid white;
  padding: 4px 16px;
  border-radius: 4px;
  position: relative;
  right: -85%;
  top: 84px;
  color: white;
  text-decoration: none;
  &.updateProfileButton:hover{
    background-color: white;
    color: $highlight;
    text-decoration: none;
  }
}

.social ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  right: 0.4%;
  top: 220px;
  font-size: 24px;
  padding: 0px 8px;
  display: inline-block;
  float: right;
  &.social ul li a:hover{
    color: darken(white, 20%);
  }
}

.profileCards{
  padding: 16px;
  margin: 16px 0px;
}

.bidRejected {
  border: 1px solid $danger;
}


// FILTER STYLES

// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;


// Reset
.search{
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 4px;
  opacity: 0.5;
  height: 32px;
  padding-left: 32px;
  outline: 0;
  // color: orange;
}

.searchIcon{
  position: relative;
  top: 27px;
  z-index: 12;
  left: 6px;
}

.range-slider {
  margin: 20px 0 0 0%;
}


// Range Slider
$range-width: 100% !default;

$range-handle-color: lightgrey;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 5px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: $range-track-height;
  border-radius: 5px;
  background: white;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $highlight;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $highlight;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $highlight;
    }
  }

  &:active::-moz-range-thumb {
    background: $highlight;
  }
}

// BIDDING

#noPaddingBottom{
  padding-bottom: 0px;
}

.bidAccept{
  text-align: center;
  margin: 8px auto;
  background-color: white;
  border: 2px solid $highlight;
  color: $highlight;
  padding: 10px;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  font-size: 14px;
  &.bidAccept:hover{
    color: white;
    background-color: $highlight;
  }
}

.tenderInfo{
  border-bottom: 1px solid $borderColor;
}

.tenderThumbNails{
  background-color: $borderColor;
  height: 58px;
  width: 56px;
  border-radius: 24px;
  display: inline
}

.bidReject{
  margin: 8px auto;
  background-color: white;
  border: 2px solid red;
  padding: 10px;
  border-radius: 100px;
  color: red;
  width: 48px;
  height: 48px;
  font-size: 14px;
  &.bidReject:hover{
    color: white;
    background-color: red;
  }
}

.bidButton{
  display: inline;
}

.acceptBox{
  // border: 1px solid grey;
  width: 50%;
}

.rating_text {
  font-size: 14px;
}

// .reviewer {
//   font-size: 10px;
// }
